@using Microsoft.AspNet.Identity
<h2>Home: @ViewBag.Title</h2>

@if (Request.IsAuthenticated)
{
    <p>User: @User.Identity.GetUserName()</p>

    <ul>
        @if (User.IsInRole("Editor")) { <li>Editor</li> }
        @if (User.IsInRole("Admin"))  { <li>Admin</li>  }
    </ul>

}
else
{
    <p>Not logged in, anonymous user</p>
}